<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="ngsi-type-browser" version="1.0.1">
    <details>
        <title>NGSI Type browser</title>
        <email>wirecloud@conwet.com</email>
        <image>images/catalogue.png</image>
        <description>Browse available entinties of a given Orio context broker server</description>
        <authors>Álvaro Arranz García &lt;aarranz@conwet.com&gt;</authors>
    </details>

    <requirements>
        <feature name="NGSI"/>
    </requirements>

    <preferences>
        <preference name="ngsi_server" type="text" label="NGSI server URL" description="URL of the Orion Context Broker to use for retrieving entity information" default="http://orion.lab.fiware.org:1026/"/>
        <preference name="use_user_fiware_token" type="boolean" label="Use the FIWARE credentials of the user" description="Use the FIWARE credentials of the user logged into WireCloud. Take into account this option cannot be enabled if you want to use this widget in a public workspace as anonoymous users doesn't have a valid FIWARE auth token" default="true"/>
    </preferences>

    <wiring>
        <outputendpoint name="selection" label="Selection" type="text" friendcode="ngsi-type-info"/>
    </wiring>

    <contents src="index.html" useplatformstyle="true"/>
    <rendering height="300px" width="33%"/>
</widget>
